<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palabras del Director</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- links de fb , yutu y instagram-->
    <div class="link">
        <a href="https://www.facebook.com/karolwojtyla.ate.3" target="_blank">
            <i class="uil uil-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCZ5FC61UFQAhghtd158hSyA" target="_blank">
            <i class="uil uil-youtube"></i>
        </a>
        <a href="https://wa.me/51945483751?text=Hola%20mas%20informacion" target="_blank">
            <i class="uil uil-whatsapp"></i>
        </a>
    </div>

    <!-- nav-->
    <div class="header-cab" id="nav-content">
        <div class="head-logo">
            <a href="../index.html">
                <img src="../img/larg-logo - copia.png" alt="">
            </a>
        </div>
        <div class="icon-responsive" id="abrir-nav">
            <i class="uil uil-bars"></i>
        </div>
        <nav class="head-nav" id="cont-nav">
            <i class="uil uil-multiply" id="cerrar"></i>
            <ul>
                <li><a href="../index.html"><span></span>Inicio <i class="uil uil-angle-down"></i></a>
                    <ul>
                        <li id="activenav"><a href=""><span></span>Bienvenidos</a></li>
                    </ul>
                </li>
                <li><a href="../#noticias"><span></span>Noticias</a></li>
                <li><a href="#"><span></span>Academia</a></li>
                <li><a href="#"><span></span>Matriculate Ya!</a></li>
                <li><a href="#"><span></span>Contactos</a></li>
            </ul>
        </nav>
    </div>

    <section class="contn-bienv">
        <div class="contenedor-responsive">
            <div>
                <div class="links-contn-bn">
                    <ul>
                        <li><a href="bienvenido.html"><span></span>Bienvenido</a></li>
                        <li id="active-bn"><a href=""><span></span>Palabras del Director</a></li>
                        <li><a href="misivi.html"><span></span>Mision y Vision</a></li>
                    </ul>
                </div>
                <div class="cntn-text-bn">
                    <h2>Palabras del director</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iusto mollitia laudantium fuga tempora id sed quasi repellat debitis. In commodi labore, expedita beatae alias cum pariatur distinctio corporis hic consectetur, laboriosam nobis cumque quas? At ad molestiae dolorem natus quo optio in, provident, impedit ipsam nesciunt perspiciatis maiores non aspernatur libero accusantium delectus rerum vero quod minus ratione adipisci! Assumenda aliquid, repudiandae quas hic omnis vitae odio, voluptate impedit ducimus officiis eius, quo voluptatem quisquam suscipit similique illo cum.
                    </p>
                    <img src="../img/foto-directora.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="contenedor-responsive">
            <div>
                <div>
                    <div class="logo-foter">
                        <img src="../img/logo2.png" alt="">
                        <span>Ate Vitarte - Oracio </span>
                    </div>
                    <h2 id="title-footer">Mas informacion</h2>
                    <div class="masinfo-footer">
                        <div>
                            <ul>
                                <a href="">Inicio</a>
                                <a href="">Bienvenidos</a>
                                <a href="">Mision y Vision</a>
                                <a href="">Palabras del director</a>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <a href="">Noticias</a>
                                <a href="">Matricula</a>
                                <a href="">Puestos</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="conta-foter">
                    <ul>
                        <li>956485758</li>
                        <li>karolWojtyla@gmail.com</li>
                        <li>7 am - 5 pm</li>
                        <li>Lima - Ate</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>
</html>